{% extends 'base.html' %}
{% load static %}

{% block mainBg %}<div class="mainBg">{% endblock %}
{% block header %}

	<section id="banner">
		<div class="container">
			<div class="banner">
				<div class="banner__block">
					<h1 class="banner__title">Мастерская цветов</h1>
					<p class="banner__text">Подберем для вас букет за два шага, который идеально подойдет под вашу ситуацию</p>
                    <a href="{% url 'quiz' %}"><button class="btn banner__btn" style='z-index:5;'>Подобрать букет</button></a>
				</div>
				<img src="{% static 'img/bannerImg.png' %}" alt="banner Img" class="banner__img">
			</div>
		</div>
	</section>
</div>

{% endblock %}
{% block main %}

<section id="recommended">
	<div class="container">
		<div class="recommended p100">
			<div class="title">Рекомендуем</div>
			<div class="recommended__elems ficb">
				{% for bouquet in bouquets %}
					<div class="recommended__block" onclick="location.href='{% url 'card' bouquet.id %}'" style="background: url('{{ bouquet.image.url }}') no-repeat center bottom / cover">
							<div class="recommended__block_elems ficb">
								<span class="recommended__block_intro">{{ bouquet.name }}</span>
								<span class="recommended__block_price">{{ bouquet.price }}</span>
							</div>
					</div>
				{% endfor %}
			</div>
			<button onclick="location.href='/catalog/'" class="btn recommended__btn" type="button">Показать всю коллекцию</button>
		</div>
	</div>
</section>
{% endblock %}